In [3]:
age = "25"
print(type(age))
age = int(age)
print(int(age))
print(type(age))

<class 'str'>
25
<class 'int'>

In [4]:
print(type([x ** 2 for x in range(10)]))

<class 'list'>

In [8]:
temp = [x  for x in range(20)]
print(temp)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [ ]:
temp = [1,2,3,4,5]
temp2 = enumerate(temp)

print(list(temp2))

[(0, 1), (1, 2), (2, 3), (3, 4), (4, 5)]

In [11]:
packed_tuple = 1,"Hello","packed tuple"

print(type(packed_tuple))

<class 'tuple'>

In [17]:
nested_tuple = ((1,2,3), (1,"Hello",3.14))

for sub_tuple in nested_tuple:
    for item in sub_tuple:
        print(item,end=" ")
    print()

1 2 3
1 Hello 3.14

In [12]:
dict = {"name" : "Gopal","Age" : 22}

# print(dict["name"])
# print(dict["Age"])
# print(dict.get("last_name","Mentioned key is not availabe"))
for key,value in dict.items():
    print(key,value)

name Gopal
Age 22

In [15]:
dict_1 = {"A":1,"B" : 2}
dict_2 = {"C" : 3, "D" : 4}

merged_dict = {**dict_1,**dict_2}
print(merged_dict)

{'A': 1, 'B': 2, 'C': 3, 'D': 4}

In [5]:
def print_number(*args):
    for num in args:
        print(num,end=" ")


print_number(1,2,3,4,5,"Gopal")

1 2 3 4 5 Gopal

In [10]:
def print_number(**kwargs):
    print(type(kwargs.items()))



print_number(name="Gopal",age="22",city="Tandur")

<class 'dict_items'>

In [ ]:
print(temp[:5])

[0, 1, 2, 3, 4]